/* @import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css); */


.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  font-size: 2em; 
  border: 5px solid #07bdf5;
  border-right: none;
  padding: 5px;
  height: 70px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #959595;
}

.text-title{
text-align: center;
color: #07bdf5;
font-size: 2em;
}

.searchButton:hover{
  color: #959595;
}

.searchButton {
  width: 70px;
  height: 70px;
  border: 1px solid #07bdf5;
  background: #07bdf5;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 50px;
  position: relative;
}

/*Resize the wrap to see the search bar change!*/
.wrap-home{
  width: auto;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrap-logo{
  width: auto;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-logo {
  width: 200px;
  height: 200px;
}
